



@font-face
{
	font-family: Maax;
	src: url('fonts/maax.otf');
}

::selection {
  background: yellow!important;
  color: black!important;
}


.contenitore {
  text-align: center;
  padding: 0 400px;
}

.container-small {
  text-align: center;
  margin-top: 100px;
  padding: 0 300px;
}

.container-portfolio {
  text-align: center;
  padding: 0 400px;
  border-top: 500px;
}


.margin-top-container {
  margin-top: 50px;
}

.text {
  font-size: 4em;
  font-family: 'Maax', sans-serif;
  font-weight: 500;
  line-height: 1.25;
}

.text-regular {
  font-size: 1.5em;
  font-family: 'Maax', sans-serif;
  font-weight: 300;
}

.text-small {
  font-size: 1.5em;
  font-family: 'Maax', sans-serif;
  font-weight: 900;
}

.text-small-regular {
  font-size: 1em;
  font-family: 'Maax', sans-serif;
  font-weight: 300;
}

.text-small-bold {
  font-size: 1em;
  font-family: 'Maax', sans-serif;
  font-weight: 700;
}

.text-extra-small-regular {
  font-size: 0.5em;
  font-family: 'Maax', sans-serif;
  font-weight: 300;
}

.underlined {
  text-decoration: underline;
}
.custom-input {
  margin: 0;
  background-color: transparent;
  border-width: 2px;
  border-color: transparent;
  border-radius: 50px;
  padding: 12px;
  text-align: center;
  width: 500px;
  color: #000;
  text-align: center;
  border-style: solid;
  display: inline-block;
  vertical-align: middle;
}

input{
  font-weight: 300;
}

.custom-input:active, .custom-input:focus, {
  border-color: black!important;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transform: all 0.25s ease-in-out;
}

.submit-box {
  text-align: center;
  border: solid 2px #555;
  width: 600px;
  height: 95px;
  vertical-align: middle;
  padding: 10px 0;
  display: inline-block;
  margin: 0 0 50px;
  border-radius: 50px;
}

.custom-submit {
  margin: 0;
  background-color: #f6f5f0;
  border-width: 2px;
  border-color: #ccc;
  border-radius: 50px;
  border-style: solid;
  padding: 12px;
  text-align: center;
  width: 68px;
  height: 68px;
  color: #000;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  opacity:0;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
  background-color: #f6f5f0!important;
  padding: 100px 0;
  selection-color
}

a {
  color: black!important;
}

a:hover {
  color: black;
}

.title-portfolio {
  margin-bottom: 100px;
}

.box-portfolio > a {
  font-size: 56px;
  font-family: 'Maax', sans-serif;
  font-weight: 500;
  line-height: 72px;
  margin: 0 10px;
  padding: 10px 25px;
  display: block;
}



.home-button {

  position: fixed;
  right: 48%;
  bottom: 5%;
}

.align-center {
  text-align: center;
}

h1 {
  font-family: "Maax", sans-serif;
  margin-top: 0!important;
}

.align-left {
  font-family: "Maax", sans-serif;
}

.main-margin {
  margin: 0 10px;
}

.back-to-home-button {
  margin: 100px;
}
.carousel {
  margin: 50px 0 100px;
  width: 1080px;
  float: left;
}
.category-list {
  display: inline-block;
}

ul {
  padding: 0!important;
}
.category-badge {
  list-style: none!important;
  float: left;
  padding: 5px 10px;
  border: solid 2px black;
  margin: 5px;
  font-weight: 700;
}

.category-badge:hover {
  background-color: black;
  color: white;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transform: all 0.25s ease-out;
  cursor: pointer;
}

a > img {
  opacity: 1;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transform: all 0.5s ease-out;
  cursor: pointer;
}

a > img:hover {
  opacity: 0.9;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transform: all 0.5s ease-out;
  cursor: pointer;
}

.send-button {
  float: right;
  margin: 10px 20px;
  padding: 10px;
  border-radius: 75px;
  border: solid 2px black;
  height: 50px;
  width: 120px;
  font-family: "Maax", sans-serif;
  font-weight: 700;
  vertical-align: middle;
  font-size: 21px;
}
.send-button:hover {
  cursor: pointer;
  background: black;
  color: white;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transform: all 0.5s ease-out;
}
/*Bisogna trovare un modo per editare le arrows dello slick slider*/
&.prev{
      display: block;
      height: 20px;
      width: 20px;
      background: url('img/back.png') no-repeat;;
    }
&.next{
    display: block;
    height: 20px;
    width: 20px;
    background: url('img/next.png') no-repeat;;
  }

  .button-container {
    margin: 25px 0;
  }
  .link-button {
    border: solid black 2px;
    width: 200px;
    display: inline-block;
    padding: 20px;
    font-family: "Maax", sans-serif;
    font-size: 21px;
    font-weight: 500;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transform: all 0.5s ease-out;

  }
  .link-button:hover {
    background-color: black;
    color: white!important;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transform: all 0.5s ease-out;
}
  .link-button > a:hover {
    color: white!important;
  }
